
ul{
  list-style: none;
}

li{
  background-color: white;
  text-align: center;
  margin:  20px;
  padding: 10px;
}

body{
  background-color: lightblue;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html body {
    position: absolute;
    padding: 0 px;
    background-color: #ffffff;
    color: #000000;
}

input {
  max-width: 220px;
}

select {
  max-width: 80px;
}


.displaybox{
  background-color: black;
  color: white;
  height: 50px;

}



.header {
   background-color: crimson;
   color: white;

   padding-bottom: 12px;
}

.leftColumn {

   background-color: lightgrey;
}


.selector{

  background-color: lightgrey;
}



.saveditems{

background-color: lightgrey;

}

/*
